<div>
  <mat-card >
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openDialogBox()">Create Note</button>
    </mat-card-actions>

      <p *ngFor="let note of noteList">
        <mat-card class="card" *ngIf="noteList.length">
          <mat-card-title>{{note.title}}</mat-card-title>
          <mat-card-content>{{note.description}}</mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
              <button mat-raised-button color="primary">Edit</button>
              <button mat-raised-button color="primary">Delete</button>
            </mat-card-actions>
        </mat-card>
      </p>
    </mat-card>
  </div>