<div class="grps">
    <mat-card>
      <h1><b>GROUPS</b></h1>
    
    
    <button mat-raised-button color="primary" (click)="openDialogBox()">Add Group</button>
     
    

    <p *ngFor="let group of groupList">
        <mat-card *ngIf="groupList.length">
            <mat-card-title>{{group.title}}</mat-card-title>
            <mat-card-content>{{group.description}}</mat-card-content>

           <mat-card-actions>
              <a mat-raised-button color="primary" routerLink="/quicknotes">View</a>
              <button mat-raised-button color="primary">Edit</button>
              <button mat-raised-button color="primary">Delete</button> 
            </mat-card-actions>
        </mat-card>
    </p>
    </mat-card>
    </div>
