<div class="grps">
    <mat-card>
      <h1><b>GROUPS</b></h1>
    
    
    <button mat-raised-button color="primary" (click)="openDialogBox()">Add Group</button>
    <!--  -->
     <a mat-button routerLink="/quicknotes">VIEW</a>
    

    <p *ngFor="let group of groupList">
        <mat-card *ngIf="groupList.length">
            <mat-card-title>{{group.title}}</mat-card-title>
            <mat-card-content>{{group.description}}</mat-card-content>
        </mat-card>
    </p>
    </mat-card>
    </div>
