<div mat-dialog-content>
    <form [formGroup]="AddnotesForm" >
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput placeholder="Description">
      </mat-form-field>
      <div mat-dialog-actions>
        <button color="primary" mat-button (click)="onNoClick()" >Close</button>
        <button color="primary" mat-button [mat-dialog-close]="AddnotesForm" cdkFocusInitial type="submit" [disabled]="!AddnotesForm.valid">Add Note</button>
      </div>
      <hr>
    </form>
  </div>